body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  color: #000;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: 0;
  padding: 5px 15px;
  border-radius: 10px;
}

input {
  border-radius: 10px;
  border: none;
  font-size: 16px;
  padding: 3px 10px;
}

input:active,
input:focus,
input:hover {
  outline: 0;
  outline-offset: 0;
}

button:hover {
  background-color: blueviolet;
  color: #fff;
}

main-app {
  width: 550px;
  max-width: 550px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1679882028877-8ff92cf0abd4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1365&q=80');
  background-size: cover;
  padding-top: 10px;
  overflow-y: auto;
}

.box {
  display: block;
  border: 1px solid #aaa;
  padding: 5px 10px;
  margin: 5px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.box p {
  font-size: 24px;
  text-align: center;
  padding: 0;
  margin: 0;
  min-height: 30px;
  font-weight: bold;
}

.box input {
  width: 100%;
}

.box .box-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5px;
  margin: 20px;
}

.control .add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding-bottom: 5px;
  margin: 0 0 10px 0;
  background-color: gray;
  color: white;
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}

.control .add:hover {
  opacity: 1;
}

.control .message {
  display: none;
  background-color: coral;
  padding: 5px 30px;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
}
