<input type="text" name="field" event-input="[[onInput]]" />
<p>{{fieldValue}}</p>
<div class="box-buttons">
  <button event-click="[[clearInput]]">Clear input</button>
  <button event-click="[[sayHello]]">Say hello</button>
  <button event-click="[[removeMe]]">Remove me</button>
</div>
